@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
//background-image:url("1.jpg");
//background-repeat:no-repeat;
background-image:conic-gradient(blue,pink,black,yellow,red,gold,brown,silver,green);
}
.calculator {
 padding: 15px;
 border-radius: 10px;
 height: 480px;
 width: 400px;
 margin: auto;
 background-color: #191b28;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
 font-family: 'Orbitron', sans-serif;
 background-color: blue;
 border: solid black 0.5px;
 color: black;
 border-radius: 1px;
 width: 90%;
 height: 65%;
}

.buttonC {
 font-family: 'Orbitron', sans-serif;
 background-color: gold;
 color: red;
 font-size:25px;
 border: solid green 2px;
 width: 100%;
 border-radius: 15px;
 height: 70%;
 outline: none;
}

.button {
 font-family: 'Orbitron', sans-serif;
 background-color: red;
 color: white;
 font-size:20px;
 border: solid green 2px;
 width: 100%;
 border-radius: 10px;
 height: 70%;
 outline: none;
}
.button:active {
 background: black;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 5px #c1c1c1;
}